CIELO_CHECKOUT_CLIENT_ID=
CIELO_CHECKOUT_CLIENT_SECRET=
CIELO_CHECKOUT_ACCESS_TOKEN=
CIELO_CHECKOUT_RETURN_URL=http://localhost:8080/checkout/retorno
CIELO_CHECKOUT_NOTIFICATION_URL=http://localhost:8080/api/webhook/cielo
CIELO_CHECKOUT_STATUS_UPDATE_URL=http://localhost:8080/api/webhook/cielo

CIELO_MERCHANT_ID=
CIELO_MERCHANT_KEY=
CIELO_SANDBOX=true

DB_PASSWORD=tutela_dev_password
JWT_SECRET=tutela_dev_jwt_secret
