name: Generate Sitemap

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Generate sitemap
        run: |
          rm -f sitemap.xml

          echo '<?xml version="1.0" encoding="UTF-8"?>' >> sitemap.xml
          echo '<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">' >> sitemap.xml

          FILES=$(git ls-files '*.html')
          echo "ARQUIVOS ENCONTRADOS:"
          echo "$FILES"
          for file in $FILES; do
            if [[ $file == *.html ]]; then

              clean=$file

              # remove apenas index.html final
              url=${clean%index.html}

              # remove extensão .html quando não for index
              url=${url%.html}

              echo "  <url>" >> sitemap.xml
              echo "    <loc>https://tuteladigital.com.br/$url</loc>" >> sitemap.xml
              echo "    <changefreq>monthly</changefreq>" >> sitemap.xml
              echo "    <priority>0.8</priority>" >> sitemap.xml
              echo "  </url>" >> sitemap.xml

            fi
          done

          echo '</urlset>' >> sitemap.xml

      - name: Commit sitemap
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add sitemap.xml
          git commit -m "Auto update sitemap" || echo "No changes"
          git push
